@import "@mdi/font/css/materialdesignicons.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
  @apply bg-gray-50 text-gray-900;
}
